:root {
  --primary-color: black;
  --secondary-color: #ff6c6a;
  --tertiary-color: #d9d9d9;
}

* {
  background-color: var(--primary-color);
}  

body {
  background-color: var(--primary-color);
  font-family: system-ui;
}
header {
  position:relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 9999;
  color: var(--tertiary-color);
}

header h1 {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.nav-section {
  margin: 7px 0;
}
.nav-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.nav-section ul li {
  list-style-type: none;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2.3vw;
} 
.hero img{
  display: flex;
  position: relative; 
  width: 100vw; 
  height: 35vh;
}
#about-section {
  padding-top: 25px;
}
#about-section h2 {
  color: var(--secondary-color);
  font-size: 25px;
}
#about-section p {
  color: #D9D9D9;
  font-size: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.75;
  margin:1% 5%;
}
#emoji {
 padding-left: 100px;
 width: 25%;
}

/* RESUME */
#resume-header, #contact-header{
  font-size: 50px;
  padding-bottom: 15px;

}
#resume-list h3 {
  margin-top: 10px;
  color: var(--secondary-color);
}
#resume-list ul li{
  margin-top: 5px;
  list-style-type: none;
  color: #D9D9D9;
  position: relative;
}

/*CONTACT*/
form {
  padding-left: 40%;
  align-items: center;
}
#contact-form {
  color: var(--tertiary-color);
}
/* FOOTER */
.footer p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#button {
  background-color: #ff6c6a;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
